header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0 1rem;
    text-transform: uppercase;
}

.logo-menu {
    height: 100%;
}

.logo-menu img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.menu a {
    background-color: #ffdbdd;
    color: #222;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin: 0 6px;
}

.menu a:hover {
    background-color: #ed7181;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    background-image: url("../img/6510274.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-imagen {
    border-radius: 75px;
    margin: 15px;
    padding: 10px;
}

.titulo-titulo {
    font-size: 5rem;
    font-family: 'Alegreya SC', serif;
    margin: 15px;
    color: #222;
}

.titulo-subtitulo {
    font-size: 3rem;
    font-family: 'Alegreya SC', serif;
    padding: 10px;
    margin: 10px;
    color: #222;
}

.titulo-redes {
    padding: 1rem;
    font-size: 1.7rem;
}

.titulo-redes a {
    color: #ed7181;
    padding-left: 1rem;
    transition: .3s;
}

.titulo-redes a:hover {
    color: crimson;
}

#btn_scrolltop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1.25rem;
    background-color: crimson;
    color: #fff;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    display: none;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    margin: 30px 20px;
    border-radius: 10px;
    color: #222;
    background-color: #ffdbdd;
}

.perfil-imagen {
    width: 40%;
    height: 100%;
}

.perfil-container {
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.datos-personales {
    font-size: 3rem;
    font-family: 'Alegreya SC', serif;
    text-decoration: underline;
    color: #ed7181;
}

.perfil-info {
    padding: 1rem;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.perfil-info-item {
    margin: 20px;
    padding: 8px;
}

.sobre-mi {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    margin: 30px 20px;
    border-radius: 10px;
    background-color: #e1d6ff;
}

.sobre-mi-imagen {
    width: 40%;
    height: 100%;
}

.sobre-mi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sobre-mi-titulo {
    font-size: 2.5rem;
    font-family: 'Alegreya SC', serif;
    text-decoration: underline;
    color: #6a4672;
}

.sobre-mi-parrafo {
    font-size: 18px;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.sobre-mi-parrafo p {
    padding-bottom: 1rem;
    padding: .75rem;
}

.educacion {
    margin: 20px 30px;
    border-radius: 10px;
    background-color: #ffe7c5;
    display: flex;
    align-items: center;
}

.educacion-imagen {
    width: 40%;
    height: 100%;
    padding: 2rem;
}

.educacion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.educacion-titulo {
    font-size: 3rem;
    font-family: 'Alegreya SC', serif;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-decoration: underline;
    color: #ff6c6c;
}

.educacion-item {
    margin: 10px 10px 10px 0px;
    padding: 10px 10px 10px 0px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #d34e4f;
}

.educacion-item p {
    color: #222;
}

.educacion-lista {
    margin: 20px;
    list-style-type: disc;
    font-size: 20px;
}

h4 {
    margin: 2px;
    padding: 2px;
}

p {
    margin: 2px;
}

.habilidades {
    margin: 20px 30px;
    border-radius: 10px;
    background-color: #fac236;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.habilidades-imagen {
    width: 40%;
    height: 100%;
    opacity: 0.9;
}

.habilidades-container {
    gap: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}

.habilidades-titulo {
    font-size: 3rem;
    font-family: 'Alegreya SC', serif;
    text-align: center;
    text-decoration: underline;
    color: #222222;
}

.habilidades-box span {
    font-weight: 600;
    font-size: 1.25rem;
    color: #222;
}

.linea-progreso {
    width: 100%;
    background-color: lightyellow;
    border-radius: 8px;
    overflow: hidden;
}

.valor-progreso {
    background: linear-gradient(45deg, #7e0429, #e20c4c);
    border-radius: 8px;
    height: 100%;
    width: 1%;
    color: transparent;
}

.experiencia {
    margin: 20px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fc6fbb;
}

.experiencia-imagen {
    width: 40%;
    opacity: 0.7;
}

.experiencia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.experiencia-titulo {
    font-size: 3rem;
    font-family: 'Alegreya SC', serif;
    text-decoration: underline;
    color: #2e2f5f;
}

.experiencia-item ul li {
    line-height: 1.5;
}

.experiencia-item ol li{
    list-style: disc;
} 

.contacto {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.contacto-imagen {
    width: 40%;
    opacity: .7;
}

.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.contacto-titulo {
    font-size: 3rem;
    padding-bottom: 1rem;
    font-family: 'Alegreya SC', serif;
    text-align: center;
    text-decoration: underline;
    color: #ff4f5a;
}

.contacto-formulario {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    gap: .5rem;
}

.contacto-label {
    color: #385a64;
    font-weight: bold;
}

.contacto-input {
    font-weight: 700;
    padding: 10px 0;
    margin: 0 0 1rem 0;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: tr
}

.contacto-comentario {
    margin: 0 0 1rem 0;
    font-weight: 700;
    background-color: transparent;
}

.boton {
    color: white;
    font-size: 1rem;
    background-color: #385a64;
    padding: 1rem;
    border: none;
    width: 100%;
    border-radius: 8px;
}

.boton:hover {
    background-color: crimson;
}

.pie-pagina {
    background-color: #ed7181;
    color: #222;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Alegreya SC', serif;
}

.pie-pagina span {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}
